<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.guritadigital.resto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="com.guritadigital.resto.app.myapp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity
            android:name="com.guritadigital.resto.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.guritadigital.resto.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.guritadigital.resto.Intro"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.guritadigital.resto.OrderDetail"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.guritadigital.resto.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.guritadigital.resto.RegisterActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.guritadigital.resto.MenuActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.guritadigital.resto.ListSeller"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.guritadigital.resto.ProdukActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.guritadigital.resto.CartActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.guritadigital.resto.ProfileActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.guritadigital.resto.TabActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.guritadigital.resto.AddProduk"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <!-- Google singin pengaturan api -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <!-- Google singin pengaturan api -->


        <!-- Facebook pengaturan api -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/id_facebook" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- end disini Facebook -->


        <!-- modul meta volley glid -->
        <meta-data
            android:name="com.guritadigital.resto.modul.VolleyGlideModule"
            android:value="GlideModule" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDd4uM8smoWGBhlSNvQL1_1dTyQGj0P4EE" />
        <!-- service fcm simple -->
        <service android:name="com.guritadigital.resto.app.CustomFirebaseMsg">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.guritadigital.resto.app.MyfirebaseService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name="com.guritadigital.resto.VoucherDetail"
            android:screenOrientation="portrait" />
        <activity android:name="com.guritadigital.resto.SpinActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.guritadigital.resto.HelpActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.guritadigital.resto.HelpDetailActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.guritadigital.resto.GambarActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.guritadigital.resto.FlashDealActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.guritadigital.resto.KategoriActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.guritadigital.resto.ReservasiActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.guritadigital.resto.ProdukDetailActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.guritadigital.resto.LupaPasswordActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.guritadigital.resto.SentPoinActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.guritadigital.resto.KonfirmasiPoinActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.guritadigital.resto.SentPoinOrderActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.guritadigital.resto.ReservasiDetailActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.guritadigital.resto.FeedbackActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.guritadigital.resto.FeedbackDetailActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>